@import "tailwindcss";

@theme {
    --color-mint-500: oklch(0.72 0.11 178);
    --color-back : #0A1628;
    --color-navbar :#0D1F3C;
    --color-border : #2E6DB4;
    --color-button :#1B4F8A;
    --color-headingA : #4A9FD4;
    --color-headingB : #F0F4FF;
    --color-aksen : #C9A84C;
}